.sub__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid rgb(230, 230, 230);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.sub__navbar .nav__infos,
.sub__navbar .nav__phones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.sub__navbar p {
  color: rgb(69, 69, 69);
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.sub__navbar li {
  color: rgb(69, 69, 69);
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  opacity: 0.5;
}
@media (max-width: 1200px) {
  .sub__navbar .nav__infos,
  .sub__navbar .nav__phones {
    gap: 20px;
  }
}
@media (max-width: 1000px) {
  .sub__navbar {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 10px 5px;
  }
  .sub__navbar .nav__infos,
  .sub__navbar .nav__phones {
    gap: 15px;
  }
  .sub__navbar p,
  .sub__navbar li {
    font-size: 13px;
  }
}
@media (max-width: 800px) {
  .sub__navbar {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sub__navbar .nav__infos,
  .sub__navbar .nav__phones {
    gap: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 600px) {
  .sub__navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 0;
  }
  .sub__navbar .nav__infos,
  .sub__navbar .nav__phones {
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    text-align: center;
  }
  .sub__navbar p,
  .sub__navbar li {
    font-size: 12px;
  }
}

.menu__button {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  padding: 10px 26px;
  border-radius: 100px;
  background: rgb(69, 69, 69);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}
.menu__button .menu-icon {
  font-size: 22px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  padding: 10px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.navbar .nav__search {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 600px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: 1px solid rgb(68, 65, 65);
  border-radius: 100px;
  padding: 0 20px;
}
.navbar .nav__search input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 8px 15px;
  outline: none;
  border: none;
  margin-left: 20px;
}
.navbar .nav__search .search__icon {
  font-size: 20px;
}
.navbar .nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}
.navbar .nav__links li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgb(69, 69, 69);
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
}
.navbar .nav__links li .nav__icon {
  font-size: 18px;
}
@media (max-width: 1400px) {
  .navbar .nav__search {
    max-width: 500px;
  }
  .navbar .nav__search input {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
@media (max-width: 1200px) {
  .navbar .nav__search {
    max-width: 400px;
  }
  .navbar .nav__search input {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
@media (max-width: 1000px) {
  .navbar .nav__search {
    max-width: 300px;
  }
  .navbar .nav__search input {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .navbar button {
    padding: 10px 20px;
  }
}
@media (max-width: 800px) {
  .navbar {
    padding: 10px 5px;
  }
  .navbar .nav__search {
    max-width: 250px;
  }
  .navbar .nav__search input {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
@media (max-width: 600px) {
  .navbar .nav__search {
    max-width: 100%;
  }
  .navbar .nav__search input {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .navbar button {
    font-size: 14px;
    padding: 8px 16px;
  }
  .navbar button .menu-icon {
    font-size: 18px;
  }
}

.navbar__responsive {
  display: none;
}

@media (max-width: 600px) {
  .navbar {
    display: none;
  }
  .sub__navbar {
    display: none;
  }
  .navbar__responsive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .navbar__responsive button {
    font-size: 25px;
    background-color: transparent;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  .navbar__responsive .nav__search {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: 400px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    border: 1px solid rgb(68, 65, 65);
    border-radius: 100px;
    padding: 0 20px;
  }
  .navbar__responsive .nav__search input {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding: 8px 15px;
    outline: none;
    border: none;
  }
  .navbar__responsive .nav__search .search__icon {
    font-size: 20px;
  }
  .navbar__responsive .nav__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 40px;
  }
  .navbar__responsive .nav__items .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
    font-size: 25px;
    opacity: 0.7;
  }
}
@media (max-width: 400px) {
  .nav__search {
    max-width: 300px;
  }
}
.sidebar {
  margin-top: 10px;
  width: 100%;
  -webkit-transition: max-height 0.3s ease, opacity 0.3s ease;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
}
.sidebar .menu__button {
  width: 328px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  padding: 10px 26px;
  border-radius: 100px;
  background: rgb(69, 69, 69);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
}
.sidebar .menu__button .menu-icon {
  font-size: 22px;
}
.sidebar li {
  padding: 10px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  opacity: 0.5;
  cursor: pointer;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}
.sidebar li:hover {
  opacity: 1;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.sidebar.show {
  max-height: 500px;
  opacity: 1;
}

.empty__line {
  width: 150px;
}