.card__items {
    display: flex;
    align-items: center;
    gap: 20px;

    .card__item {
        width: 310px;
        height: 112px;
        border: 1px solid rgb(217, 217, 217);
        padding: 20px;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

.cards__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;

    button {
        width: 39px;
        height: 26px;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 100px;
        padding: 6px 11px;
        background-color: transparent;
    }

    .card__links {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    h2 {
        color: rgb(69, 69, 69);
        font-size: 40px;
        font-weight: 700;
        line-height: 55px;
        letter-spacing: 0%;
        text-align: left;
    }
}

.text {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;

    @media (max-width: 900px) {
        flex-direction: column;
    }

    b {
        color: rgb(69, 69, 69);
        font-size: 40px;
        font-weight: 700;
        line-height: 55px;
        letter-spacing: 0%;
        text-align: left;
    }

    p {
        display: flex;
        max-width: 640px;
        color: rgb(69, 69, 69);
        font-size: 20px;
        font-weight: 500;
        line-height: 150%;
        letter-spacing: 0%;
        text-align: left;
    }
}


.blog__cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;

    .blog__card {
        width: 360px;
        display: flex;
        flex-direction: column;
        box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
        margin-bottom: 20px;

        .card__body {
            background-color: white;
            padding: 30px 10px;
            width: 330px;

            .card__title {
                display: flex;
                align-items: start;
                justify-content: space-between;
            }

            .card__icon {
                font-size: 35px;
            }

            b {
                color: rgb(69, 69, 69);
                font-size: 18px;
                font-weight: 700;
                line-height: 130%;
                letter-spacing: 0%;
                text-align: left;
            }

            p {
                color: rgb(69, 69, 69);
                font-size: 14px;
                font-weight: 500;
                line-height: 110%;
                letter-spacing: 0%;
                text-align: left;
                margin-top: 24px;
            }
        }

        .card__image {
            display: grid;
            place-items: center;
            width: 360px;
            height: 275px;

            img {
                border-radius: 10px;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}


@media (max-width: 1400px) {
    .blog__card {
        width: 300px;

        .card__body {
            width: 270px;

            .card__icon {
                font-size: 30px;
            }

            b {
                font-size: 16px;
            }

            p {
                font-size: 13px;
            }
        }

        .card__image {
            width: 300px;
            height: 230px;
        }
    }
}

@media (max-width: 1024px) {
    .blog__card {
        width: 250px;

        .card__body {
            width: 220px;

            .card__icon {
                font-size: 25px;
            }

            b {
                font-size: 14px;
            }

            p {
                font-size: 12px;
            }
        }

        .card__image {
            width: 250px;
            height: 200px;
        }
    }
}

@media (max-width: 768px) {
    .blog__card {
        width: 200px;

        .card__body {
            width: 180px;

            .card__icon {
                font-size: 20px;
            }

            b {
                font-size: 12px;
            }

            p {
                font-size: 11px;
            }
        }

        .card__image {
            width: 200px;
            height: 150px;
        }
    }
}

@media (max-width: 480px) {
    .blog__card {
        width: 100%;

        .card__body {
            width: 90%;

            .card__icon {
                font-size: 18px;
            }

            b {
                font-size: 10px;
            }

            p {
                font-size: 9px;
            }
        }

        .card__image {
            width: 100%;
            height: auto;
        }
    }
}