footer {
    padding: 50px;
    background: rgb(242, 242, 242);

    .footer__wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .footer__links {
            display: flex;
            flex-direction: column;

            .footer__title {
                color: rgb(69, 69, 69);
                font-size: 24px;
                font-weight: 700;
                line-height: 33px;
                letter-spacing: 0%;
                text-align: left;
                margin-bottom: 30px;
            }

            a,
            li {
                color: rgb(69, 69, 69);
                font-size: 16px;
                font-weight: 600;
                line-height: 22px;
                letter-spacing: 0%;
                text-align: left;
                opacity: 0.5;
                margin-bottom: 20px;
            }
        }

        .footer__categories {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
        }

        .footer__logo {
            display: flex;
            flex-direction: column;
            gap: 30px;

            p {
                color: rgb(69, 69, 69);
                font-size: 24px;
                font-weight: 600;
                line-height: 33px;
                letter-spacing: 0%;
                text-align: left;
            }

            li {
                text-decoration-line: underline;
            }
        }
    }

    @media (max-width: 1200px) {
        padding: 40px;

        .footer__wrapper {
            .footer__links .footer__title {
                font-size: 22px;
                margin-bottom: 25px;
            }

            .footer__links a,
            .footer__links li {
                font-size: 14px;
                margin-bottom: 18px;
            }

            .footer__logo p {
                font-size: 22px;
            }
        }
    }

    @media (max-width: 992px) {
        padding: 30px;

        .footer__wrapper {
            flex-direction: column;
            align-items: center;
            text-align: left;

            .footer__links {
                align-items: center;

                .footer__title {
                    font-size: 20px;
                }

                a,
                li {
                    font-size: 13px;
                }
            }

            .footer__categories {
                grid-template-columns: 1fr;
            }

            .footer__logo {
                align-items: center;

                p {
                    font-size: 20px;
                }
            }
        }
    }

    @media (max-width: 768px) {
        padding: 20px;

        .footer__wrapper {
            .footer__links .footer__title {
                font-size: 18px;
                margin-bottom: 20px;
            }

            .footer__links a,
            .footer__links li {
                font-size: 12px;
                margin-bottom: 15px;
            }

            .footer__logo p {
                font-size: 18px;
            }
        }
    }

    @media (max-width: 576px) {
        padding: 15px;

        .footer__wrapper {
            .footer__links .footer__title {
                font-size: 16px;
                margin-bottom: 15px;
            }

            .footer__links a,
            .footer__links li {
                font-size: 14px;
                margin-bottom: 10px;
                text-align: center;
            }

            .footer__logo p {
                font-size: 16px;
            }
        }
    }
}